@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

body {
    background-color: rgb(254, 254, 251);
    font-family: lato;
    /* margin-top: 0; */
    margin: 0;
}

.get-recipe-section {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    gap: 2px;
}

.additional-filters-side-panel {
    flex-basis: 31%;
    z-index: 100;
    position: relative;
    justify-content: right;
}

.get-recipe-main {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
    flex-basis: 38%;

    .ingredient-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        text-transform: capitalize;
    }

    .submit-button {
        font-size: x-large;
        letter-spacing: .75px;
        background-color: bisque;
        border-radius: 3px;
        border-width: 1px;
    }

    .submit-button:hover {
        background-color: rgb(249, 194, 100);
    }
}

.textArea {
    display: flex;
    align-items: start;
    flex-direction: row;

    .input-prompt {
        display: flex;
        margin-top: 4px;
        margin-right: 5px;
    }

    input {
        display: flex;
        width: 100%;
        font-size: medium;
        height: 1.5rem;
        align-items: center;
    }

    .add-ingredient-button {
        margin-top: 4px;
    }
}

.ingredientSearchBar{
    border-color: rgba(0, 0, 0, 0.909);
    border-radius: 5px;
}

.ingredientSearchBar:focus{
    border-radius: 5px;
    border-color: black;
    background-color: beige;
}

header {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    border-bottom: 3px black solid;
    margin-bottom: 2%;

    .logo-container{
        display: grid;
        place-content: center;
        width: 18%;
        img {
            width:130px;
        }
    }

    h1 {
        font-size: 3rem;
        font-family: "Delius Swash Caps";
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 18%;

        div {
            border: 2px solid black;
            border-top: 0;
            block-size: fit-content;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 0 5px 5px 5px;
            font-size: large;
        }
        a {
            text-decoration: none;
        }
    }
}

.results-section {
    justify-self: center;
    width: 80%;

    .results-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        width:100%;
        justify-content: center;
        gap: 15px;
    }

    .result-cell {
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        text-align: center;
        font-size: x-large;        
        
        a {
            text-decoration: none;
        }
        img {
            width: 100%;
        }
        div {
            /* border-top: solid black 1px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }

        .result-image-wrapper {
            position: relative;
        }

        .recipe-name {
            padding: 4px;
            /* font-family: "Amarante", serif; */
        }

        .favorite-button-cut-out {
            position: absolute;
            height: 20%;
            min-height: 45px;
            aspect-ratio: 1;
            border-bottom-left-radius: 25px;
            top: 0;
            right: 0;
            background-color: rgb(254, 254, 251);
        }

        .favorite-button {
            padding: 3px;
            padding-left: 5px;
            padding-bottom: 5px;
            width: fit-content;            
        }
    }
}

/* @media only screen and (min-width: 1000px) and (max-aspect-ratio:2/1) {
    
} */

.ingredient-filter-block {
    border: solid black 1px;
    border-radius: 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ingredient-filter-text {
        padding: 2px;
    }
    .ingredient-filter-x {
        display: flex;
        border-width: 0 0 0 1px;
        aspect-ratio: 1/1;
    }
    .ingredient-filter-x:hover {
        filter: brightness(.9);
    }
}

.contains-ingredient {
    background-color: rgb(145, 240, 145);
}

.does-not-contain-ingredient {
    background-color: rgb(240, 151, 151);
}

.follows-restriction {
    background-color: plum;
}

.input-text-dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    .dropdown-item {
        border: 1px solid black;
        background-color: rgb(245, 245, 245);
        padding: 4px;
    }
    .dropdown-item:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.text-with-dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    align-items: center;
    margin-left: 8px;
    min-width: 300px;

    .input-text-dropdown  {
        text-transform: capitalize;
        overflow-y: scroll;
        scroll-behavior: smooth;
        max-height: 8rem;
    }
}

.highlighted {
    filter: brightness(.9);
}

.no-match {
    font-style: italic;
}

.recipe-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    .steps-section {
        width: 60%;
        line-height: 1.6;
        li:not(:first-child) {
            margin-top: 11px;
        }
    }

    .favorite-recipe-element {
        display: flex;
        flex-direction: row;
        justify-content: right;
        font-size: large;
        align-items: center;
        margin-top: 1rem;
        gap: 5px;
    }
    .favorite-button {
        width: 2.5rem;
    }
}

.favorite-button {
    /*Tool for changing black to a color: https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(98%) sepia(36%) saturate(7327%) hue-rotate(312deg) brightness(107%) contrast(101%);
}

.additional-filters {
    /* margin-top: 2rem; */
    width:  75%;
    /* justify-self: right; */
    position: absolute;
    right: 2%;
    background-color: rgb(254, 254, 251);

    .additional-filters-title {
       width: 100%;

        border: 1px black solid;
        text-align: center;
        border-radius: 2px;
    }

    .filter {
       width: 100%;
       border: 1px black solid;
       border-radius: 2px;

       .filter-name{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2px 5px;
            background-color: rgb(238, 238, 238);
            border-radius: 2px;
            
            div {
                align-content: center;
                justify-content: center;
            }
            img {
                display: flex;
                height: 1.1rem;
            }
        }
        .filter-name:hover {
            cursor: pointer;
        }
        .invisible-wrapper {
            /*Hack to be able to transition to auto height */
            display: grid;
            grid-template-rows: 1fr;
            transition: grid-template-rows .6s;

            .invisible-block { 
                display: grid;
                gap: 3px;
                overflow-y: hidden;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }
        }

        .invisible-wrapper.invisible {
            grid-template-rows: 0fr;
        }
    }
}

.recipe-title {
    /* height: 40%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

}